@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: Montserrat;
    font-weight: 300;
    padding: 20px;
    margin: 0;
    background-color: rgb(33, 33, 33);
    color: white;
    height: 2000px;
}

.tooltip {
    /* немного стилизуем подсказку, можете использовать свои стили вместо этих */
    position: fixed;
    padding: 10px 20px;
    border: 1px solid #b3c9ce;
    border-radius: 4px;
    text-align: center;
    font: italic 14px/1.3 sans-serif;
    color: #333;
    background: #fff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
  }