@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: Montserrat;
    font-weight: 300;
    padding: 0;
    margin: 0;
    background-color: rgb(33, 33, 33);
    color: white;
}

.clock {
    padding: 20px;
    display: flex;
}

p {
    margin: 3px;
    font-size: 40pt;
}
.hours { color: rgb(255, 114, 114); }
.minutes { color: rgb(133, 255, 133); }
.seconds { color: rgb(148, 148, 255); }